.buytab{
  display: flex;
  flex-direction: column;
  height: calc(100% - 1em);

  &__products{
    flex: 1;
  }

  &__lowerblock{
    display: flex;
    &__price{
      flex:1;
      margin-left: 8px;
    }

    &__button{
      margin-right: 8px;
      height: 25px;
      text-align: center;
      align-self: center;

    }
  }
}
